@import "../../assets/partials/colors";

.order {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    &__image-container {
        width: 20%;
        margin-top: 2rem;
    }

    &__image{
        max-width: 100%;
        aspect-ratio: 1;
    }

    &__text{
        flex: 1;
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
    }

    &__heading {
        font-size: 600;
        margin-bottom: 1rem;
        // font-size: 2rem;
    }
}