@import "../../assets/partials/colors";
@import "../../assets/partials/base";

.checkout {
    display: flex;
    flex-direction: column;

    &__timeline {
        display: flex;
        padding: 4rem 0;
        justify-content: center;
        align-items: center;
        text-align: center;
        @media only screen and (max-width: 43.75em) {
            padding: 2rem;
        }

    }

    &__complete{
        font-weight: 350;
    }

}

.content{
    margin: 0 6rem;
    padding: 6rem 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
    
    @media only screen and (max-width: 43.75em) {
        flex-direction: column;
        margin: 0 2rem;
        align-items: center;
    }


    &__cart-info, &__ship-info{
        padding: 4rem 3rem;
        border: 1px solid $color-black;
        border-radius: 1rem;
    }

    &__ship-info {
        width: 50%;
        @media only screen and (max-width: 43.75em) {
            width: 100%;
        }
    }

    &__cart-info {
        display: flex;
        flex-direction: column;
        margin-right: 4rem;
        flex: 1;

        @media only screen and (max-width: 43.75em) {
            width: 100%;
            margin-right: 0;
            margin-bottom: 4rem;
        }

    }

    &__info{
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: 2rem;
    }

    &__price{
        margin-top: 2rem;
    }
}
