@import "../../assets/partials/colors";

.checkoutbutton {
    margin-top: 2rem;
    background-color: $color-blue;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 1rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.4rem;
    padding: 1.5rem;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: 600;
    opacity: 1;
    transition: all .2s ease;

    &:hover{
        opacity: .8;
    }
}