@import "../../assets/partials/colors";

.header {
    position: relative;
    grid-row: 1 / 2;
    grid-column: side-start / main-end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $color-blue;
    padding: 2rem 0;

    &__left{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 6rem;
        flex: 1;
        
        @media only screen and (max-width: 43.75em) {
            margin-left: 2rem;
        }
    }

    &__logo-container {
        width: 23%;
        display: flex;
        align-items: center;

        @media only screen and (max-width: 43.75em) {
            width: 35%;
        }
    }

    &__logo{
        max-width: 100%;
        display: block;
    }

    &__form {
        display: flex;
        align-items: center;
        width: 70%;
        margin-left: 8rem;
        border: 1px solid $color-white;
        border-radius: 1rem;
        overflow: hidden;

        @media only screen and (max-width: 43.75em) {
            display: none;
        }
    }

    &__icon-container {
        margin-right: 6rem;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 30%;

        @media only screen and (max-width: 43.75em) {
            margin-right: 2rem;
            width: 15%;
        }
    }

    &__search{
        @media only screen and (min-width: 43.75em) {
            display: none;
        }
    }

    &__icon{
        cursor: pointer;

        &--big {
            @media only screen and (max-width: 43.75em) {
                display: none;
            }
        }

        &--small {
            @media only screen and (min-width: 43.75em) {
                display: none;
            }
        }

        &:not(:last-child){
            margin-right: 2rem;
        }
    }

    &__icon-menu{
        display: none;
        @media only screen and (max-width: 43.75em) {
            display: block;
        }
    }
}

.form {
    &__input{
        width: 100%;
        border: none;
        background-color: $color-white;
        padding: 1rem;
        padding-left: 1.5rem;
        background-color: transparent;
        color: $color-white;

        &::placeholder{
            font-family: "Montserrat", sans-serif;
            font-optical-sizing: auto;
            font-weight: 300;
            font-style: normal;
            color: $color-grey;
        }

        &:focus {
            outline: none;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        border: none;
        cursor: pointer;
        & img {
            margin-left: 1rem;
            width: 2rem;
            aspect-ratio: 1;
        }
    }


}



