@import "../../assets/partials/colors";

.checkbox {
        aspect-ratio: 1;
        appearance: none;
        width: 2rem;
        border: 2px solid $color-black;
        border-radius: 5px;
        cursor: pointer;

        &:checked{
            background-color: $color-blue;
            border: none;
            background-image: url("../../icons/icon-check.svg");
            background-repeat: no-repeat;
            background-position: center;
        }

        
}